<div class="jumbotron" id="body">
    <form id="contact-form" method="post">
        <h3>Create New Contact</h3>
        <p>
            <label for="contactId">Contact Id:</label>
            <input type="text" name="Id" />
        </p>
        <p>
            <label for="contactName">Contact Name:</label>
            <input type="text" name="Name" />
        </p>
        <input type="button" id="saveContact" value="Save" />
    </form>
    <ul id="contacts"></ul>
</div>
